{{- $is_work_computer := promptBool "Is work computer?" false -}}

{{- if $is_work_computer -}}
    {{- $default_email := "gregory.westneat@sweetgreen.com" -}}
{{- else -}}
    {{- $default_email := "greg.westneat@gmail.com" -}}
{{- end -}}

{{- $dev_email := promptString "Dev Email" $default_email -}}
{{- $personal_email := promptString "Personal Email" $default_email -}}
{{- $1pw_email := promptString "1Password Email" $dev_email -}}

[data]
    email = "{{ $default_email }}"
    is_work_computer = {{ $is_work_computer }}
    
    [data.onepassword]
        email = "{{ $default_email }}"
