# frozen_string_literal: true

# Referenced these instructions:
# https://gist.github.com/ChristopherA/a579274536aab36ea9966f301ff14f3f

# TAPS
# formulae trackers
################################################################################
#
tap 'homebrew/core'
tap 'homebrew/cask'
tap 'homebrew/bundle'               # Brewfile support
tap 'homebrew/services'             # manage background services
tap 'homebrew/cask-fonts'           # open source fonts

# BREWS / CASKS
# Apps
################################################################################
#
brew 'mas'                          # automatically install mac apps

# CORE ENV LIBS
brew 'chezmoi'                      # dotfile managers
brew 'git'                          # version control
brew 'macvim'                       # vim flavor
cask 'alacritty'                    # terminal emulator
brew 'tmux'                         # terminal multiplexor
brew 'zsh'                          # shell
brew 'zsh-completions'              # adds auto complete for zsh
brew 'zsh-autosuggestions'          # adds auto suggestions for zsh
brew 'fzf'                          # commandline fuzzy finder
brew 'starship'                     # cross shell prompt
brew 'exa'                          # command line sugar (used for `lsa` alias)
cask "font-fira-code"
cask "font-hack-nerd-font"

## DEV TOOL
brew 'yarn'                         # packager (nvm installed with curl)
brew 'gh'                           # GitHub CLI
brew 'yq'                           # yaml functions
brew 'watchman'                     # detects file changes 
brew 'awscli'
brew 'jq'                           # like jquery for cli

# CORE APPS
cask "brave-browser"
cask "1password"
cask "1password-cli" # needs sudo?
cask "logseq"
cask "visual-studio-code"

# MISC APPS
cask "vlc"
cask "spotify"
cask "slack"
cask "discord"
cask "figma"
cask "firefox"
cask "google-chrome"

# MOBILE DEV
mas 'Xcode', id: 497_799_835        # XCode for iOS support
cask "android-studio"
cask "android-platform-tools"       # Android SDK platform-tools
brew 'ideviceinstaller'
brew 'ios-webkit-debug-proxy'
brew 'libimobiledevice'
brew 'lyft/formulae/set-simulator-location'
brew 'wix/brew/applesimutils'
brew 'carthage'
brew 'cocoapods'

# MISC DEV TOOLS
cask "postico"
cask "postman"
brew 'gnupg'                        # PGP
brew 'cmake'                        # build executor
brew 'circleci'                     # checks circleci config
cask 'docker'                       # containers
brew 'youtube-dl'
brew 'ffmpeg'
brew 'poppler'
brew 'graphviz'
brew 'graphicsmagick'
brew 'imagemagick'
brew 'tesseract'
brew 'tesseract-lang'

# TODO: Condition w/ templat vars
# WORK DEPS
brew 'rbenv'
brew 'ruby'
brew 'terraform'
brew 'tfenv'
brew 'tflint'


################################################################################
################################################################################

# TODO: REVIEW PROBLEMATIC DEPS
# brew "noahgorstein/tap/jqp"
# brew 'facebook/fb/idb-companion'
# cask 'adoptopenjdk8'

# brew 'memcached', restart_service: true
# brew 'postgresql@14', restart_service: true
# brew 'redis', restart_service: true

# cask "private-internet-access"
