# frozen_string_literal: true

# Here's the tool being used:
# https://github.com/Homebrew/homebrew-bundle
# Referenced these instructions:
# https://gist.github.com/ChristopherA/a579274536aab36ea9966f301ff14f3f

# TAPS
# formulae trackers
################################################################################
#
tap 'homebrew/bundle'               # Brewfile support
tap 'homebrew/services'             # manage background services
tap 'wix/brew'                      # for applesimutils          
tap 'mobile-dev-inc/tap'            # for native tests

# BREWS / CASKS
# Apps
################################################################################
#
brew 'mas'                          # automatically install mac apps

# CORE ENV LIBS
brew 'chezmoi'                      # dotfile managers # TODO: I wonder if this should be installed via other means than brew, since it's confusing stuff during chezmoi init script
brew 'git'                          # version control
brew 'macvim'                       # vim flavor
brew 'tmux'                         # terminal multiplexor
brew 'zsh'                          # shell
brew 'zsh-completions'              # adds auto complete for zsh
brew 'zsh-autosuggestions'          # adds auto suggestions for zsh
brew 'fzf'                          # commandline fuzzy finder
brew 'starship'                     # cross shell prompt
brew 'duti'                         # set "open with" file associations
cask 'alacritty' args: { no-quarantine: true } # terminal emulator, no-quarantine to avoid security policy, see: https://github.com/alacritty/alacritty/issues/4673#issuecomment-771291615
cask 'eza'                          # fancy aliases, eg lsa (previously exa)


# FONTS
cask "font-fira-code"
cask "font-hack-nerd-font"

## DEV TOOL
brew 'asdf'                         # version manager for nodejs, python, elixir, erlang, ruby, yarn
brew 'gh'                           # GitHub CLI
brew 'watchman'                     # detects file changes 
brew 'awscli'                       # AWS CLI
brew 'yq'                           # yaml functions
brew 'jq'                           # like jquery for cli

# CORE APPS
cask "1password-cli" # needs sudo?
cask "brave-browser"
cask "visual-studio-code"
cask "logseq"

# MISC APPS
cask "vlc"
cask "spotify"
cask "discord"
cask "figma"

# For apps that are installed automatically by work MDM
{{ if not	.is_work_computer }}

cask "firefox"
cask "slack" 
cask "google-chrome"

{{ end }}


# MOBILE DEV
cask "android-studio"
cask "android-platform-tools"       # Android SDK platform-tools
brew 'maestro'
brew 'ideviceinstaller'
brew 'ios-webkit-debug-proxy'
brew 'libimobiledevice'
brew 'lyft/formulae/set-simulator-location'
brew 'carthage'
brew 'cocoapods'
# TODO: requires itunes login, investigate automation (also requires follow up `sudo xcodebuild -license accept`)
# mas  'Xcode', id: 497799835         # XCode for iOS support

# MISC DEV TOOLS
cask 'docker'                       # containers
brew 'gnupg'                        # PGP
brew 'cmake'                        # build executor
brew 'yt-dlp'
brew 'ffmpeg'
brew 'poppler'
brew 'graphviz'
brew 'graphicsmagick'
brew 'imagemagick'
brew 'tesseract'
brew 'tesseract-lang'


{{ if .is_work_computer }}

# # WORK.TERRAFORM 
# brew 'terraform'
# brew 'tfenv'
# brew 'tflint'

# WORK.MISC
brew 'circleci'     
brew 'caddy'

{{ end }}
