# frozen_string_literal: true

# Referenced these instructions:
# https://gist.github.com/ChristopherA/a579274536aab36ea9966f301ff14f3f

# TAPS
# formulae trackers
################################################################################
#
tap 'homebrew/core'
tap 'homebrew/cask'
tap 'homebrew/bundle'               # Brewfile support
tap 'homebrew/services'             # manage background services
tap 'homebrew/cask-fonts'           # open source fonts

tap 'adoptopenjdk/openjdk'          # java for android studio

tap 'nektos/tap'                    # Run GitHub Actions workflows locally

# BREWS / CASKS
# Apps
################################################################################
#
brew 'mas'                          # automatically install mac apps

# DEV ENV
brew 'git'                          # version control
brew 'macvim'                       # vim flavor
cask 'alacritty'                    # terminal emulator
brew 'tmux'                         # terminal multiplexor
brew 'zsh'                          # shell
brew 'zsh-completions'              # adds auto complete for zsh
brew 'starship'                     # cross shell prompt
brew 'chezmoi'                      # dotfile managers
brew 'yarn'                         # packager (nvm installed with curl)

# AWS CLI TOOLS
brew 'awscli'
cask 'aws-vault'                    # help with complex AWS auth
cask 'session-manager-plugin'       # aws session manager
brew 'direnv'                       # dotenv thing for session manager

# GRAVY DEPS
brew 'rbenv'
brew 'ruby'
brew 'memcached', restart_service: true
brew 'postgresql', restart_service: true
brew 'postgresql@11', restart_service: true
brew 'redis', restart_service: true
brew 'graphicsmagick'
brew 'imagemagick'

# STANDARD DEV TOOLS
brew 'gh'                           # GitHub CLI
brew 'jq'                           # like jquery for cli
brew 'yq'                           # yaml functions
brew 'watchman'
brew 'gnupg'                        # PGP
brew 'cmake'                        # build executor
brew 'circleci'                     # checks circleci config
brew 'nektos/tap/act'               # Run GitHub Actions workflows locally
brew 'exa'                          # command line sugar (used for `lsa` alias)
cask 'docker'


# TERRAFORM
brew 'terraform'
brew 'tfenv'
brew 'tflint'

# MOBILE DEV
cask 'adoptopenjdk'                 # Java Dev Kit for Android
cask 'adoptopenjdk8'
mas 'Xcode', id: 497_799_835        # XCode for iOS support
cask "android-platform-tools"       # Android SDK platform-tools

# APPS
cask "1password"
cask "1password-cli"
cask "adoptopenjdk"
cask "android-messages"
cask "android-studio"
cask "brave-browser"
cask "discord"
cask "docker"
cask "fantastical"
cask "figma"
cask "firefox"
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "google-chrome"
cask "hyperdock"
cask "postico"
cask "postman"
cask "private-internet-access"
cask "spotify"
cask "slack"
cask "visual-studio-code"
cask "virtualbox"
cask "vlc"

mas "Xcode", id: 497799835
