#!/bin/bash

# Check if op is installed
if ! command -v op &> /dev/null
then
    echo "1Password CLI (op) could not be found"
    exit
fi

# Variables
EMAIL="{{ .onepassword.email }}"
SUBDOMAIN="my" # change this to your 1password account subdomain

# Check if the account is already configured
if op account list | grep -q $EMAIL; then
    echo "Account with email $EMAIL is already configured."
    echo "Completing 1Password Setup"
    exit
fi

# Sign in to 1Password
op account add --address $SUBDOMAIN.1password.com --email $EMAIL
eval $(op signin --account $SUBDOMAIN)
