{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash


if  command -v gh > /dev/null; then
  echo 'TODO: add ssh config stuff...'
  # ssh-keygen -t ed25519 -C "{{ .email }}"
  # gh ssh-key add ~/.ssh/id_ed25519.pub -t "Laptop Key (21.07)"
else
	echo 'Chezmoi Run Script Error: requires GitHub CLI to be installed'
fi

# EOF
{{ end -}}
